{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "An AWS Serverless Application.",

  "Resources": {

    "TestLambdaCF": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "TestLambdaCF::TestLambdaCF.Functions::ToUpperPlusBookRecommendation",
        "Runtime": "dotnetcore3.1",
        "CodeUri": "",
        "MemorySize": 128,
        "Timeout": 30,
        "Policies": [ "AWSLambdaBasicExecutionRole" ]
      }
    }
  }
}
